:root{
    /* --main: rgba(15, 14, 14, 0.884); */
    --primary: #221955;
    --secondary: #201c3a;
    --tertiary: rgba(124, 25, 25, 0.863);
    --quaternary: rgba(54, 2, 2, 0.719);
}

/*css for heading section starts */
.heading{
    color: #281a86d3;
    font-family: 'Poppins', sans-serif;
}
.heading > span{
    color: rgba(124, 25, 25, 0.863);
}
/* css for heading section ends */

/*css for input section starts */
.search-section{
    font-family: 'Barlow', sans-serif;
}
/* css for input section ends */

/* css for spinner starts */
.spinner-section{
    display: none;
    font-family: 'Roboto Serif', sans-serif;
}
/* css for spinner ends */

/* css for message section starts */
.message-section-heading{
    font-size: 28px;
    font-family: 'Roboto Serif', sans-serif;
}

.message-section-heading-highlight{
    color: rgba(107, 4, 4, 0.719);
}
/* css for message section ends */


/* css for card section starts */
.card-heading-text{
    font-family: 'Barlow', sans-serif;
}

.card-body-text{
    font-family: 'Poppins', sans-serif;
}
/* css for card section ends */